name: CI

on:
  push:
    paths-ignore:
      - ".github/**"
      - "README.md"
    branches:
      - "main"
  pull_request:
    paths-ignore:
      - ".github/**"
      - "README.md"
  workflow_dispatch:

jobs:
  test:
    name: Test on ubuntu-latest, Python ${{ matrix.python-version }}
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Setup Python ${{matrix.python-version}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install '.[test]'

      - name: List versions
        run: |
          python -m pip list

      - name: Run tests
        run: |
          cd tests/
          pytest -v --cov=stop_aws_gha_runner --cov-report=xml --color=yes .

      - name: CodeCov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
          flags: unittests
          name: codecov-py${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
